 

<div id="lkList" class="row">
    <div class="col-md-3">        
        <div id="leftpnllook" style="border-right:5px solid #eee" class="row">

        </div>
    </div>
    <div id="centerpnllook" class="col-md-9"></div>
 
</div>
<div id="window"></div>
<div>     
</div>  