
@{
    ViewBag.Title = "Component Manager";
}
 
<div id="container"></div>
<div id="pv"></div>

 <script type="text/javascript">
     $(document).ready(function () {

     })
     </script>

<div id="window"></div>