
 
    <div id="cl">
        <Clients></Clients>
    </div>
 
<script type="text/javascript">
      $(document).ready(function () {
          var abc = httpVueLoader('/vue/Client/ClientList.vue');        
     
        new Vue({
            el: '#cl',
            components: {
                'Clients': abc
            }
        });
    })
</script>