
@{
    ViewBag.Title = "Schema";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<style>
   
</style>
<div class="padd-20">
    <div class="row " 
style="border-bottom: 4px solid #eee;">
        <div class="col-md-3"><h4 class='header rgline-4'>Table List</h4></div>
        <div class="col-md-9">
            <div id="navBtnList" style="padding:0px"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div id="lftSchema"></div>
        </div>

        <div class="col-md-9">
            <div class="row " id="rghtbinfo">
                @*<div class="col-md-9">
                    <div id="rghTable"></div>
                </div>
                <div class="col-md-3">
                    <div id="rgfieldinfo"></div>
                </div>*@
            </div>
            
            </div>

        </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <div id="saveaction">
               
            </div>
        </div>
        <div id="mkd"></div>
    </div>

    </div>
    <script type="text/javascript">
        $(document).ready(function () {                   
            (function ($schema) {
                $schema.Schema = function (options) {
                    var defaults = {
                        ClientID: "",
                        View: "",
                        plc: "",
                    }
                    var _opt = $.extend({}, defaults, options);
                    var tbl = {};
                    var tbID = "";
                    var renderTableList = function ($plc, data) {
                        $plc.html("");
                        //list-group
                        var sq = "";
                        sq = sq + "<div class='list'>";
                        var sq =  sq + "<ul class=''>"
                        $.each(data, function (id, d) {                            
                            sq = sq + '<li  name=' + d.TableID + '><div class="row rowlight"><div class="col-md-10">' + d.TableName + '</div><div class="col-md-2"><a href="#" style="text-indent:-100%;" name=' + d.TableID + '><span title="Delete" act="del" class="remove fa fa-remove"></span></a></div></div></li>';
                        }); 
                        sq = sq + "</ul>"
                        sq = sq + "</div>";
                        $plc.append(sq);
                        $plc.find("li").click(function () {
                            tbID = $(this).attr("name");
                            renderViewTable();
                        })
                    }
                    var getTableList = function (onComplete) {                      
                        $.ajax('/Schema/GetTables',
                            {
                                type: "GET",
                                dataType: 'jsonp', // type of response data
                                data: ({ clientid: window.clientid }),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function                                   
                                    onComplete(data);
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);
                                    //$('p').append('Error: ' + errorMessage);
                                }
                            });
                    }
                    var renderViewTable = function () {
                        renderView();
                        tbl = new $schema.Table({
                            ClientID: window.clientid,
                            TableID: tbID,
                            plc: "rghTable",
                            onAdd: function (tbid) {
                                tbID = tbid;
                                render();
                            },
                            onNew: function () {
                                if (window.clientid != "") {
                                    renderView();
                                    renderNew();
                                } else {
                                    alert("Choose Client");
                                }
                            }
                        });
                    }
                    var renderNew = function () {
                        renderView();
                        tbl = new $schema.Table({
                            ClientID: window.clientid,
                            TableID: "",
                            plc: "rghTable",
                            onAdd: function (tbid) {
                                render();
                            },
                            onNew: function () {
                                if (window.clientid != "") {
                                    renderView();
                                    renderNew();
                                } else {
                                    alert("Choose Client");
                                }         
                            }
                        });
                    }
                    var RenderGrid =function(cpage) {
                        $.ajax({
                            type: "POST",
                            url: "/schema/GetData",
                            data: JSON.stringify({
                                currentPage: cpage, pageSize: 10, clientid: window.clientid, tbid: tbID
                            }),
                            dataType: "jsonp",
                            contentType: 'application/json; charset=utf-8',
                            success: function (data) {
                              //  $("#txtPageNo").val(currentPage);
                                data = JSON.parse(data);
                                Page = data.Page;
                                data = data.Data;
                                var keys = [];
                                if (data.length > 0) {
                                    for (var key in data[0]) {
                                        keys.push(key);
                                    }
                                }
                                $("#datalist").html("");
                                //datalist
                                str = "<table class='tztable' style='width:100%'>"
                                str = str + "<tr>";
                                $.each(keys, function (ir, r) {

                                    str = str + "<th>" + r + "</th>";

                                });
                                str = str + "</tr>";
                                $.each(data, function (ir, r) {
                                    str = str + "<tr class='rowlight tdrow'>";
                                    $.each(keys, function (ic, c) {
                                        if (r[c] == "null") {
                                            str = str + "<td>empty</td>";
                                        } else {
                                            str = str + "<td>" + r[c] + "</td>";
                                        }                                        
                                    })
                                    str = str + "</tr>";
                                });
                                str = str + "</table>";
                                $("#datalist").append(str);
                             //   $("#ttrc").html("<h3> Total Record in this table:" + Page.TotalRecord + "</h3>");
                                //data = data.Columns;
                                //$.each(data, function (i, d) {
                                //    $("#fields").append("<div class='row mar'><div class='col-md-6'>" + d.Name + "</div><div class='col-md-2'>" + d.NativeType + "</div><div class='col-md-2'>" + d.Size + "</div><div class='col-md-2'>" + d.PrimaryKey + "</div></div>");
                                //})
                            },
                            error: function () {
                                alert("Error occured!!")    
                            }
                        });
                    }
                    var renderToolbar = function () {
                        $("#navBtnList").toolbar({
                            name: "", linkbuttons: ['<a class="nav-link " href="#" name="veSchema">View Tables <span class="sr-only">(current)</span></a>',
                                '<a class="nav-link active" href="#" name="dview">Data Views<span class="sr-only">(current)</span></a>',
                                '<a class="nav-link active" href="#" name="dsp">Data Scripts<span class="sr-only">(current)</span></a>',
                                '<a class="nav-link" name="rmtb" href="#">Remove</a>',
                                '<a class="nav-link" name="vbTb" href="#">View Data</a>',
                                '<a class="nav-link" name="csync" href="#">Sync</a>']
                        })
                        $("#navBtnList").find("nav").css("padding", "0px");
                        $("#navBtnList").find("a[name=veSchema]").click(function () {
                            if (window.clientid != "") {
                                getTableList(function (data) {
                                    renderTableList($("#lftSchemacnt"), data);
                                    renderView();
                                    renderViewTable();
                                })
                                
                            } else {
                                alert("Choose Client");
                            }
                        })
                        $("#navBtnList").find("a[name=dview]").click(function () {
                            if (window.clientid != "") {
                                //renderView();
                                //renderNew();
                            } else {
                                alert("Choose Client");
                            }                                        
                        })
                        $("#navBtnList").find("a[name=csync]").click(function () {
                            $.ajax('/Schema/syncSchema',
                                {
                                    dataType: 'jsonp', // type of response data
                                    data: (({ clientid: window.clientid})),
                                    // timeout milliseconds
                                    success: function (data, status, xhr) {   // success callback function
                                        // alert(data);
                                      //  onComplete();
                                    },
                                    error: function (jqXhr, textStatus, errorMessage) { // error callback
                                        alert(errorMessage);
                                    }
                                });
                        })
                        $("#navBtnList").find("a[name=rmtb]").click(function () {

                            $("#mkd").dialogBox({
                                id: 'wd',
                                title: "",
                                message: "Are you Sure,Do you want remove this table?",
                                onAction: function () {
                                    $("#mkd").dialogBox('hide');
                                    if (window.clientid != "") {
                                        removeTable(function () {
                                            render();
                                            renderNew();
                                        })
                                    } else {
                                        alert("Choose Client");
                                    }
                                },
                                onCancel: function () {                                    

                                },
                                type:2,
                                alertType: 3,
                            })
                            $("#mkd").dialogBox('show');                            
                        })
                        $("#navBtnList").find("a[name=vbTb]").click(function () {
                            $("#rghtbinfo").html("");
                            $("#rghtbinfo").append("<div class='col-md-12'><div id='datalist' class='scrollbar-dusty-grass thin' style='overflow:scroll;position:relative;height:600px'></div> </div>");
                            RenderGrid(0);
                        })
                    }   
                  
                    var removeTable = function ( onComplete) {
                        $.ajax('/Schema/RemoveTable',
                            {
                                dataType: 'jsonp', // type of response data
                                data: (({ clientid: window.clientid, tbID: tbID })),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function
                                    // alert(data);
                                    onComplete();
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);
                                }
                            });
                    }   
                    
                    var renderView = function () {
                        $("#rghtbinfo").html("");
                        $("#rghtbinfo").append('<div class="col-md-8 rgline-4" ><div id = "rghTable" ></div ></div ><div class="col-md-4"><div id="rgfieldinfo" ></div></div>');
                    }
                    var render = function () {
                        $("#lftSchema").html("");
                        renderView();
                        $("#lftSchema").append("<div id='lftSchemacnt' class='scrollbar-dusty-grass thin' style='height:600px;overflow-x:hidden;overflow-y:scroll;position:relative'></div>")
                        renderToolbar();
                        getTableList(function (data) {
                            renderTableList($("#lftSchemacnt"), data);
                        })
                        //getClientlist(function (data) {
                        //    renderClients(data);
                        //});
                    }
                    render();
                }
                $schema.Table = function (options) {
                    var defaults = {
                        ClientID: "",
                        TableID: "",
                        Fields: [],
                        plc: "",
                        View: "",
                        onAdd: function (tbid) {

                        },
                        onNew:function () {

                        }
                    }
                    var tbName = "";
                    var category = "";
                    var defaultsfield = {
                        FieldID: "",
                        FieldName: "",
                        FieldType: 0,
                        Length: 0,
                        IsNull: true,
                        IsPrimary: false,
                        TableID:"",
                    }
                    var cthis = this;
                    var Save = function () {
                        var tb = $("#fldTabName").Input("text");
                        var cat = $("#fldTabCatg").Input("text");
                        var fs = [];
                        var tbl = {};
                        tbl.TableName = tb;
                        tbl.Category = cat;
                        tbl.TableID = _opt.TableID;
                        $.each(_opt.Fields, function (ifd, fd) {
                            var f = {};
                            f.TableID = _opt.TableID;
                            f.FieldName = fd.FieldName;
                            f.FieldType = fd.FieldType;
                            f.Length = fd.Length;
                            f.IsNullable = fd.IsNull;
                            f.IsPrimaryKey = fd.IsPrimary;
                            f.FieldID = fd.FieldID;
                            //f.TableID = "";
                            fs.push(f);
                        })
                        $.ajax('/Schema/SaveTableField',
                            {
                                dataType: 'jsonp', // type of response data
                                data: (({ clientid: window.clientid, tb: JSON.stringify(tbl), fields: JSON.stringify(fs) })),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function
                                    // alert(data);
                                    //renderFields();
                                    if (_opt.TableID == "") {
                                        _opt.TableID = data;
                                        _opt.onAdd(data);
                                        render();
                                    }                                    
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);
                                    //$('p').append('Error: ' + errorMessage);
                                }
                            });
                    }
                    var _opt = $.extend({}, defaults, options);
                    var renderTable = function () {
                        $("#tbplc").html("");
                        if (tbName == "") {
                            tbName = "New Table";
                        }
                        $("#tbplc").append("<div class='row udline-4'><div class='col-md-8'><h4 class=''>" + tbName + "</h4></div><div col-md-4><button action='new' class='btn btn-primary'><i class='fa fa-plus' style='margin-right:5px'></i>New</button></div></div><div class='row' style='margin-top:30px;'><div class='col-md-6' id='fldTabName'></div><div class='col-md-6' id='fldTabCatg'></div></div>");
                        $("#tbplc").find("[action=new]").click(function () {
                            _opt.onNew();
                            
                        })
                        $("#tbplc").labelfields({
                            items: [{
                                label: "Table Name",
                                field: {
                                    id: "fdtbName", 'note': "Enter Table Name",
                                    limit: true, maxlength: 50, inputType: 1, textType: 1, timeformat: 0, 'regexp': "", "text": tbName,
                                    format: "hex", range: false, isRequired: true,
                                },
                                id: 'fldTabName'
                            }, {
                                label: "Category",
                                field: {
                                    id: "fdcatgory", 'note': "",
                                    limit: true, maxlength: 50, inputType: 1, textType: 1, timeformat: 0, 'regexp': "", "text": category,
                                    format: "hex", range: false, isRequired: true,
                                },
                                id: 'fldTabCatg'
                            }]
                        });
                        
                        renderFields();
                    }
                    var getTable = function (onComplete) {
                        $.ajax('/Schema/GetTable',
                            {
                                type: "GET",
                                dataType: 'jsonp', // type of response data
                                data: ({ clientid: window.clientid,tableid:_opt.TableID }),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function                                   
                                    tbName = data.TableName;
                                    category = data.Category;
                                    _opt.Fields = [];
                                    $.each(data.Fields, function (id,d) {
                                        var f = {};
                                        f.FieldID = d.FieldID;
                                        f.FieldName = d.FieldName;
                                        f.FieldType = d.FieldType;
                                        f.Length = d.Length;
                                        f.IsNull = d.IsNullable;
                                        f.TableID = d.TableID;
                                        f.IsPrimary = d.IsPrimaryKey;
                                        _opt.Fields.push(f);
                                    })
                                    onComplete(data);
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);
                                    //$('p').append('Error: ' + errorMessage);
                                }
                            });
                    }
                    var getFieldType = function (id) {
                        //  var ft = $$.Utility.filter({ key: id });
                        var sl = [];
                        $.each(fieldtype, function (ift, ft) {
                            if (ft.key == id) {
                                sl = ft;
                            }
                        });
                        if (sl.value != undefined) {
                            return sl.value;
                        }
                        else {
                            return "";
                        }


                    }
                    var renderFields = function () {
                        $("#fldinfo").html("");
                        $("#fldinfo").append("<div class='row udline-4'><div class='col-md-8' style='vertical-align: bottom;margin-top: 15px;'><h4>Field List</h4></div><div class='col-md-4'><button type='button' id='btnAddField' class='btn btn-primary' value='Add Field'><i class='fa fa-plus' style='margin-right:5px'></i>Add Field</button></div></div><div class='row'><div  class='col-md-12 pdd0'><div id='fldlist' class='scrollbar-dusty-grass thin'></div></div></div>");
                        //row rowheader
                        var finfh = "<div class='row rowheader'><div class='col-md-4'>Field Name</div>";
                        finfh = finfh + "<div class='col-md-2'>Type</div>";
                        finfh = finfh + "<div class='col-md-2'>Length</div>";
                        finfh = finfh + "<div class='col-md-1'>Null</div>";
                        finfh = finfh + "<div class='col-md-1'>Primary</div>";
                        finfh = finfh + "<div class='col-md-1'>Remove</div>";
                        finfh = finfh + "</div>";
                        $("#fldlist").append(finfh);
                        $.each(_opt.Fields, function (ifd, fd) {                            
                            var finf = "<div action='row' class='row tdrow rowlight' name='"+ fd.FieldID +"'><div class='col-md-4'>" + fd.FieldName + "</div>";
                            finf = finf + "<div class='col-md-2'>" + getFieldType(fd.FieldType) + "</div>";
                            finf = finf + "<div class='col-md-2'>" + fd.Length + "</div>";
                            finf = finf + "<div class='col-md-1'>" + fd.IsNull + "</div>";
                            finf = finf + "<div class='col-md-1'>" + fd.IsPrimary + "</div>";                            
                            finf = finf + "<div class='col-md-1'><a href='#' na ='" + fd.FieldName + "' key='" + fd.FieldID + "' act='remove'>Remove</a></div>";
                            finf = finf + "</div>";
                            $("#fldlist").append(finf);
                        });
                        $("#fldlist").find("a[act=remove]").click(function () {
                            if (_opt.TableID != "") {                                
                                var fn = $(this).attr("key");
                                if (fn == "") {
                                      fn = $(this).attr("na");
                                    var fs = [];
                                    $.each(_opt.Fields, function (ifs, f) {
                                        if (f.FieldName != fn) {
                                            fs.push(f);
                                        }
                                    })
                                    _opt.Fields = fs;
                                    renderFields();
                                } else {
                                    removeField(fn, function () {
                                        render();
                                    });
                                }                                
                            } else {
                                var fn = $(this).attr("na");
                                var fs = [];
                                $.each(_opt.Fields, function (ifs,f) {
                                    if (f.FieldName != fn) {
                                        fs.push(f);
                                    }
                                })
                                _opt.Fields = fs;
                                renderFields();
                            }
                        })
                        $("#fldlist").find(".row").click(function () {
                            var fid = $(this).attr("name");
                            renderField(fid);
                        })
                        $("#btnAddField").click(function () {
                            renderField("");
                        })
                    }

                    var removeField = function (f,onComplete) {
                        $.ajax('/Schema/RemoveField',
                            {
                                dataType: 'jsonp', // type of response data
                                data: (({ clientid: window.clientid, tbID: _opt.TableID, fieldID: (f) })),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function
                                    // alert(data);
                                    onComplete();
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);                                    
                                }
                            });
                    }

                    var fieldtype = [
                        //{ key: 0, value: "Select" },
                        { key: 16, value: "String" },
                        { key: 10, value: "Small Number" },
                        { key: 11, value: "Number" },
                        { key: 12, value: "Double" },
                        { key: 7, value: "Decimal" },
                        { key: 6, value: "DateTime" },
                        { key: 5, value: "Date" },
                        { key: 3, value: "Boolean" },
                        { key: 4, value: "Currency" },
                        { key: 17, value: "Time" },
                    ]
                    var renderFieldInfo = function (fid) {

                        var fld = {}
                        if (fid != undefined && fid !="") {
                            $.each(_opt.Fields, function (ifd, fd) {
                                if (fd.FieldID == fid) {
                                    fld = fd;
                                }
                            });
                        } else {
                            fld = $.extend({}, defaultsfield, {});
                        }
                        
                         
                        $("#sfldinfo").labelfields({
                            
                            items: [{
                                label: "Field Name",
                                field: {
                                    id: "fdfieldname", 'note': "",
                                    limit: true, maxlength: 50, inputType: 1, textType: 1, timeformat: 0, 'regexp': "", "text": fld.FieldName,
                                    format: "hex", range: false, isRequired: true,
                                },
                                id: 'tbfldName'
                            }, {
                                label: "Field Type",
                                field: {
                                    id: "fdfldtype", 'note': "",
                                    limit: true, maxlength: 50, inputType: 19, textType: 1, timeformat: 0, 'regexp': "", "text": fld.FieldType,
                                    format: "hex", range: false, isRequired: true,
                                    selectPicker: {
                                        datasource: fieldtype,
                                        displayField: "value",
                                        valueField: "key",
                                        selection: "single"
                                    }
                                },
                                id: 'tbfldType'
                            }, {
                                label: "Length",
                                field: {
                                    id: "fldlength", 'note': "",
                                    limit: true, maxlength: 50, inputType: 2, textType: 1, timeformat: 0, 'regexp': "", "text": fld.Length,
                                    format: "hex", range: false, isRequired: true,
                                },
                                id: 'tbfldlength'
                            }, {
                                label: "Is Primarykey",
                                field: {
                                    id: "fldfieldprimary", 'note': "Is Primary key",
                                    limit: true, maxlength: 50, inputType: 10, textType: 1, timeformat: 0, 'regexp': "", "text": fld.IsPrimary,
                                    format: "hex", range: false, isRequired: true,
                                },
                                    id: 'tbfldprimary'
                            }, {
                                label: "Is Null",
                                field: {
                                    id: "fldnull", 'note': "Is Nullable",
                                    limit: true, maxlength: 50, inputType: 10, textType: 1, timeformat: 0, 'regexp': "", "text": fld.IsNull == "" ? true : fld.IsNull,
                                    format: "hex", range: false, isRequired: true,
                                },
                                    id: 'tbfldnull'
                            }]
                        });
                    }
                    var collectSaveFieldInfo = function (fid) {
                        var f = {};
                        f.FieldID = fid;
                        f.FieldName = $("#tbfldName").Input("text");
                        f.FieldType = $("#tbfldType").Input("text");
                        f.Length = $("#tbfldlength").Input("text");
                        f.IsNullable = $("#tbfldnull").Input("text");
                        f.IsPrimaryKey = $("#tbfldprimary").Input("text");
                        return f;
                    }
                    var collectFieldInfo = function (fid) {
                        var f = {};
                        if (fid == undefined) {
                            fid = "";
                        }
                        f.FieldID = fid;
                        f.FieldName = $("#tbfldName").Input("text");
                        f.FieldType = $("#tbfldType").Input("text");
                        f.Length = $("#tbfldlength").Input("text");
                        f.IsNull = $("#tbfldnull").Input("text");
                        f.IsPrimary = $("#tbfldprimary").Input("text");
                        return f;
                    }
                    var renderField = function (fid) {
                        //fieldname,fieldtype,length,isprimary,isnull,
                        $("#rgfieldinfo").html("");
                        var fld = "<div class='float-label'><div id='sfldinfo' class='row'>";
                        fld = fld + "<div id='tbfldName' class='col-md-12'></div>";
                        fld = fld + "<div id='tbfldType' class='col-md-12'></div>";
                        fld = fld + "</div>";
                        fld = fld + "<div class='row'>";
                        fld = fld + "<div id='tbfldlength' class='col-md-12'></div>";
                        fld = fld + "<div id='tbfldnull' class='col-md-12'></div>";
                        fld = fld + "<div id='tbfldprimary' class='col-md-12'></div>";
                        fld = fld + "</div>";   
                        fld = fld + "<div class='row'>";
                        fld = fld + '<button type="button" class="btn btn-primary" action="save">Save</button>'
                        fld = fld + '<button type="button" class="btn btn-light" action="cancel">Reset</button>'
                        fld = fld + "</div>";
                        fld = fld + "</div>";
                        $("#rgfieldinfo").append("<div class='col-md-12'><div class='col-md-12 udline-4'><h4>Field Information<h4></div>" + fld + "</div>");
                        renderFieldInfo(fid);
                        $("#rgfieldinfo").find("button[action=save]").click(function () {
                            if (_opt.TableID != "") {
                                if (fid == "") {
                                    var f = collectSaveFieldInfo(fid);
                                    saveField(f, function () {
                                        render(cthis);
                                    });
                                } else {
                                    var f = collectSaveFieldInfo(fid);
                                    UpdateField(f, function () {
                                        render(cthis);
                                    });
                                }
                            }
                             else {
                                _opt.Fields.push(collectFieldInfo(fid));
                                renderFields();
                                renderField();
                            }

                            
                        })
                        
                    }
                    var UpdateField = function (f, onComplete) {
                        $.ajax('/Schema/UpdateField',
                            {
                                dataType: 'jsonp', // type of response data
                                data: (({ clientid: window.clientid, tbID: _opt.TableID, fields: JSON.stringify(f) })),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function
                                    // alert(data);
                                    onComplete();
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);
                                    //$('p').append('Error: ' + errorMessage);
                                }
                            });
                    }
                    var saveField = function (f,onComplete) {
                        $.ajax('/Schema/AddField',
                            {
                                dataType: 'jsonp', // type of response data
                                data: (({ clientid: window.clientid, btid: _opt.TableID, fields: JSON.stringify(f) })),
                                // timeout milliseconds
                                success: function (data, status, xhr) {   // success callback function
                                    // alert(data);
                                    onComplete();
                                },
                                error: function (jqXhr, textStatus, errorMessage) { // error callback
                                    alert(errorMessage);
                                    //$('p').append('Error: ' + errorMessage);
                                }
                            });
                    }
                    var render = function (cthis) {
                        $("#" + _opt.plc).html("");
                        $("#saveaction").html("");
                        $("#saveaction").append(' <input type="button" id="btnSaveTable" class="btn  btn-primary" value="Accept Changes" />');
                        $("#saveaction").append('<input type = "button" id = "btnReverse" value = "Retract" class= "btn  btn-default" />');
                        $("#" + _opt.plc).append("<div><div id='tbplc' class='float-label udline-4'></div><div id='fldinfo' class=''></div><div class='row' id='fddetail'></div></div>");
                        if (_opt.TableID != "") {
                            getTable(function () {
                                renderTable();
                            })
                        } else {
                            renderTable();
                        }
                        //renderTable();
                        $("#btnSaveTable").click(function () {
                            Save();
                        })
                    }
                    render(this);
                }

            })($)
            var s = new $.Schema({});
          
        });
    </script>

